.shortener__container {
  background: url("../../assets/bg-shorten-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-violet);
}

.shortener__form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.shortener__form input {
  flex-grow: 1;
  border-radius: 4px;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.shortener__form input:focus {
  outline: 3px solid var(--cyan);
}

.shortener__form input:focus::placeholder {
  color: var(--cyan);
}

.shortened__links {
  margin-top: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.shortened__links h6 {
  font-size: 16px;
  font-weight: 700;
  color: gray;
}

.shortened__links div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shortened__links div p {
  color: cyan;
}

@media screen and (max-width: 450px) {
  .shortener__container {
    background: url("../../assets/bg-shorten-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--dark-violet);
  }

  .shortener__form {
    flex-direction: column;
  }
}
