.hero__content {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 2rem;
}

.hero__content-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.hero__content-img {
  max-width: 600px;
    display: flex;

}

@media screen and (max-width: 768px) {
  .hero__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero__content-text {
    align-items: center;
    text-align: center;
  }
}
